body {
  font-family: $ptsans;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  background: white;
  color: $body-color;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-width: 320px;
  text-align: center;

  @media #{$mobile-width-only} {
    max-width: 480px;
  }

  @media #{$desktop-width} {
    max-width: 1200px;
    margin: 0 auto;
  }
}
