.features-modes {
  @include unstyledlist();
  padding-top: 40px;
  text-align: left;
  line-height: 21px;
  background-color: white;
  color: #333333;
}

.features-modes__item {
  padding-left: 70px;
}

.features-modes__item h4 {
  font-size: 18px;
  line-height: 26px;
  color: $title-color;
}

@media #{$tablet-width} {
  .features-modes {
    display: flex;
    width: 100%;
    text-align: center;
  }

  .features-modes__item {
    padding-left: 0;
  }
}
