.features-reason {
  margin-bottom: 40px;

  &--blue {
    background-color: $blue;
    color: white;
  }
}

.features-reason__name {
  font-size: 18px;
  line-height: 26px;

  &--white {
    padding-top: 54px;
    margin-bottom: 8px;
    color: white;
  }
}

.features-reason__desc {
  margin-bottom: 40px;
}

.features-reason__image {
  @include noindent();
}


@media #{$tablet-width} {
  .features-reason {
    width: 33%;

    &--blue {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  .features-reason__info {
    width: 33%;

    &--right {
      order: 1;
    }

  }

  .features-reason__name {
    font-size: 21px;

    &--white { 
      padding-top: 0;
      padding-left: 67px;
      padding-right: 67px;
    }
  }

  .features-reason__image {
    width: 67%;
    min-height: 256px;  //tmp height
    background-color: rgba(255,0,0, 0.5);
  }

}
