.features__title {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 27px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $title-color;
}

.features__desc {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  line-height: 26px;
}

 @media #{$tablet-width} {
  .features__title {
    padding-left: 160px;
    padding-right: 160px;
    font-size: 21px;
  }

  .features__desc {
    margin-bottom: 51px;
  }

 }
