.find-hotel__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: $title-color;
}

.find-hotel__btn {
  display: inline-block;
  padding: 16px 47px;
  margin-bottom: 50px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  background-color: $blue;
  color: white;
}
