.gallery-item {
  position: relative;
  padding: 0 20px;
  padding-bottom: 16px;
  margin-bottom: 22px;
  text-align: left;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #e5e5e5;
  }
}

.gallery-item__image {
  @include noindent();
  margin-bottom: 15px;
  text-align: center;
}

.gallery-item__image img {
  display: block;
  width: 100%;
  height: auto;
}

.gallery-item__name {
  @include noindent();
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.gallery-item__author {
  display: block;
  margin-bottom: 7px;
  text-transform: none;
}

.gallery-item__author cite {
  font-style: normal;
}

.gallery-item__likebtn {
  width: 22px;
  height: 20px;
  padding: 0;
  margin-right: 10px;
  fill: #b2b2b2;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.gallery-item__like {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  vertical-align: top;
}

//TABLET WIDTH
@media #{$tablet-width} {

  .gallery-item {
    position: relative;
    width: 50%;
    padding: 0;
    margin-bottom: 0;

    &:after {
      border: 0;
    }

    &--fullwidth {
      width: 100%;
    }
  }

  .gallery-item__image {
    margin-bottom: 0;
  }

  .gallery-item__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 35px;
    padding-bottom: 10px;
    background-color: #f2f2f2;

    &--fullwidth {
      padding-right: 20px;
    }

    &--darkgrey {
      background-color: #eaeaea;
    }
  }

  .gallery-item__info {

  }

  .gallery-item__name {
    @include noindent();
  }

  .gallery-item__likebtn {
    margin-right: 5px;
  }

}


//PC WIDTH
@media #{$desktop-width} {
  .gallery-item {
    width: (100% / 3);

    &--fullwidth {
      width: 100%;
    }
  }

  .gallery-item__desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 30px;
    color: white;
    background-color: rgba(0,0,0, 0.3);

    &--fullwidth {
      padding-right: 22px;
    }
  }

  .gallery-item__likebtn {
    fill: white;
  }
}
