.main-nav__list {
  position: relative;
  @include unstyledlist();

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    height: 7px;
    background: linear-gradient(to top, #1b262c, transparent);
    opacity: 0.2;
  }
}

.main-nav__link {
  display: block;
  padding: 7.4px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: $blue;
  box-shadow: 0 0px 0 1px #9ac2db,
              0 -1px 0 1px #678fa8;

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
    color: rgba(255,255,255, 0.3);
  }
}

.main-nav {
  &--closed {
    display: none;
  }
}

@media #{$tablet-width} {
  .main-nav {
    background-color: white;

    &--closed {
      display: block;
    }
  }

  .main-nav__list {
    font-size: 0;
    &:after {
      display: none;
    }
  }

  .main-nav__item {
    display: inline-block;
    width: 20%;
    font-size: 14px;
    text-align: center;
    vertical-align: center;
  }

  .main-nav__item:nth-child(2),
  .main-nav__item:nth-child(6) {
    margin-right: 20%;
  }

  .main-nav__link {
    padding: 15px 0;
    font-size: 14px;
    line-height: 26px;
    background-color: white;
    color: black;
    border-bottom: 0;
    box-shadow: none;

    &:hover {
      color: $blue;
      background-color: transparent;
    }

    &:active {
      color: rgba(0,0,0, 0.3);
    }

    &--active {
      color: $mainmenu-active;
    }

    &--active:hover {
      color: $mainmenu-active-hover;
    }

    &--active:active {
      color: rgba(96,78,67, 0.3);
    }
  }
}
