.presentation-videoplayer {
  display: block;
  width: 100%;
  min-height: 200px;
  height: auto;
  background: grey url("../img/video-mobile@1x.jpg") no-repeat;
  background-size: contain;
}

@media #{$retina} {
  .presentation-videoplayer {
    background: grey url("../img/video-mobile@2x.jpg") no-repeat;
    background-size: 100% 200px;
  }
}

@media #{$tablet-width} {
  .presentation-video {
    position: relative;
    margin: 0 auto;
    padding: 0 60px;
  }

  .presentation-videoplayer {
    min-height: 500px;
    background: grey url("../img/video-tablet@1x.jpg") no-repeat;
  }

  @media #{$retina} {
    .presentation-videoplayer {
      background: grey url("../img/video-tablet@2x.jpg") no-repeat;
      background-size: 100% 500px;
    }
  }
}


@media #{$desktop-width} {
  .presentation-video {
    padding: 0;
  }

  .presentation-videoplayer {
    min-height: 500px;
    background: grey url("../img/video-desktop@1x.jpg") no-repeat;
  }

  @media #{$retina} {
    .presentation-videoplayer {
      background: grey url("../img/video-desktop@2x.jpg") no-repeat;
      background-size: 100% 500px;
    }
  }
}
