.promo {
  margin-top: -27px;
  margin-bottom: 30px;
  background: #23353f url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: top center;
}

.promo__textimage {
  padding-top: 85px;
  padding-bottom: 86px;
}
