.promo {
  margin-top: -35px;
  margin-bottom: 37px;
  background: #23353f url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: top center;
}

.promo__textimage {
  padding-top: 85px;
  padding-bottom: 86px;
}

@media #{$tablet-width} {
	.promo {
		// temp height
		min-height: 553px;
	}
}
