.promo {
  position: relative;
  min-height: 384px;
  padding-top: 5px;
  margin-bottom: 40px;
  text-align: center;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 28px;
    background: url("../img/bg-intro-triangle-mobile.svg") no-repeat;
    background-size: 100% 28px;
  }

  &--form,
  &--photo {
    min-height: 153px;
    background-position: center bottom;
  }
}

.promo__textimage {
  width: 282px;
  height: 214px;
  padding-top: 85px;
  padding-bottom: 77px;

  &--innerpage {
    width: 229px;
    height: 39px;
    padding-top: 45px;
    padding-bottom: 60px;
  }
}

@media #{$retina} {
  .promo {
    background: url("../img/bg-back-mobile@2x.jpg") no-repeat center;
    background-size: cover;
  }
}

//TABLET WIDTH
@media #{$tablet-width} {
	.promo {
    margin-top: 0;
    padding-top: 0;
		min-height: 518px; // temp height
    margin-bottom: 50px;
    background-size: cover;


    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 57px;
      background: url("../img/bg-intro-triangle-tablet.svg") no-repeat;
      background-size: 100% 57px;
    }

    &--photo {
      min-height: 290px;
      margin-bottom: 75px;
    }

    &--form {
      min-height: 290px;
      margin-bottom: 75px;
    }
	}

  .promo__textimage {
    width: 460px;
    height: 350px;
    padding-top: 77px;
    padding-bottom: 77px;

    &--innerpage {
      width: 458px;
      height: 78px;
      padding-top: 95px;
    }
  }
}

//DESKTOP WIDTH
@media #{$desktop-width} {
  .promo {

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 57px;
      background: url("../img/bg-intro-triangle-desktop.svg") no-repeat;
      background-size: 100% 57px;
    }

    &--form {
      min-height: 300px;
      margin-bottom: 112px;
    }

    &--photo {
      min-height: 300px;
      margin-bottom: 112px;
    }
  }

  .promo__textimage {
    &--innerpage {
      padding-top: 100px;
    }
  }

  @media #{$retina} {
    .promo {
      background: url("../img/bg-back-desktop@2x.jpg") no-repeat center;
      background-size: cover;
    }
  }
}
