.top-panel {
  position: relative;
  min-height: 56px;
  text-align: right;
  background-color: white;
}

.top-panel__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

@media #{$tablet-width} {
  .top-panel {
    position: static;
    min-height: auto;
  }



}
