// Colors
$body-color: #333333;
$title-color: black;
$blue: #81b3d2;
$blue-hover: #669ec0;
$blue-active: #5496bd;

$mainmenu-active: #766357;
$mainmenu-active-hover: #604e43;


$input-bg: #f2f2f2;
$placeholder-color: black;
$form-error-color: #ff5c5c;

// FONTS
$ptsans: "PTsans", Arial, sans-serif;

// ADAPTIVE WIDTH
$mobile-width-only: "(max-width: 480px)";
$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1200px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";


