.author {
  display: flex;
  justify-content: center;
  color: $title-color;
}

.author__title {
  display: inline-block;
  padding-top: 10px;
  margin-right: 10px;
  vertical-align: top;
}

.author__link {
  padding: 0;
  padding-top: 6px;
  margin: 0;
  font-size: 0;
}

.author__img {
  width: 45px;
  height: 34px;
  fill: black;

  &:hover {
    fill: $blue;
  }

  &:active {
    fill: #b2b2b2;
  }
}


//TABLET WIDTH
@media #{$tablet-width} {
  .author__title {
    margin-right: 0;
  }
}

//PC WIDTH
@media #{$desktop-width} {
  .author {
    width: 25%;
    box-sizing: border-box;
    padding-left: 93px;
  }

  .author__title {
    margin-right: 5px;
  }
}

