.socials {
  display: flex;
  justify-content: center;
  @include unstyledlist();
  margin-bottom: 35px;
}

.socials__item {
  &--twitter {
    margin-right: 6px;
  }

  &--facebook {
    margin-right: 6px;
  }
}

.socials__link {
  display: inline-block;
  width: 46px;
  max-width: 50px;
  height: 48px;
  padding-top: 15px;
  box-sizing: border-box;
  background-color: $blue;

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
  }

  &:active img {
    opacity: 0.3;
  }
}

.icon-twitter {
  width: 17.5px;
  height: 14.663px;
  fill: white;
}

.icon-fb {
  width: 8.672px;
  height: 18.944px;
  fill: white;
}

.icon-youtube {
  width: 19.979px;
  height: 14.015px;
  fill: white;
}

//TABLET WIDTH
@media #{$tablet-width} {
  .socials {
    margin-right: 10px;
  }
}

//DESKTOP WIDTH
@media #{$desktop-width} {
  .socials {
    width: 25%;
  }
}
